.banner{
    .border__top{
        height: 9px;
        background:linear-gradient(to right,$color-purple,$color-red-0);
    }
    .banner__content{
        @include styleText($fs-3+8,$color-white-0,$fw-normal);
        background-color: $color-black-0;
    }
    .banner__item{
        width: 100%;
        padding: $pd-2*2 0;
        .details{
            h3{
                @include styleText($fs-3, $color-white-0, $fw-bold-1);
            }
            p{
                @include styleText($fs-1+2 ,$color-white-0, $fw-normal);
            }
            
        .Icon__Mid{
            line-height: 3.5;
        }
    }}
}
.banner{
    .banner__content{
        @include resposive("large"){
            //content trong cái này nó sẽ nhét nội dung dưới này qua chỗ @ content mixin
            i{  
                display: none;
            }
            
            
        
        }
}}
